.manage-subscription-page{
    width:100%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto',sans-serif;
}
.manage-subscription-card{
    width: 80%;
    height: max-content;
    background: #fff;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px; 
    overflow: hidden;
}
.manage-subscription-heading p{
    font-size: 18px;
    font-weight: 500;
    color: wheat;
}
.manage-subscription-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #01015d;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 10px 10px #717171;
    margin-bottom: 2rem;
}

.searcing-Box{
    display: flex;
    gap: 1rem;
}

@media only screen and (max-width:518px) {
    .manage-subscription-navbar{
    display: flex;
    flex-direction: column;
    height: max-content;
    padding:0 10px 10px 10px;
}
.searcing-Box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
}