/* .container-fluid  {
    width: 100%;
    border: 1px solid black;
} */

.navbar-toggler{
    position: absolute;

    top: 0;
    right: 0;
    margin: 1rem 1rem 0 0;
}

.jtf-logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
}


.wallet-ammount{
    font-weight: 800;
}

.user-Aavtar{
    padding-right: 1rem;
    border: 1px solid black;
}

.navbar-brand{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}
.navbar-brand h3 {

    color: rgb(54, 8, 54);
    font-weight: bold;
    margin-left: .5rem;
   
}
.navbar{
    position: sticky;
    top: 0px;
    z-index: 10;
    min-height: 10vh;
    max-height: max-content;
}
.modal-title {
    font-weight: bold;
    color: purple;
}



.nav-item button {
    width: 100px;
}



@media only screen and (max-width: 365px) {
    .jtf-logo{
        display: none;
    }
    .navbar-brand{
        display: flex;
        align-items: center;
    }
}

@media only screen and (max-width: 768px) {
    .jtf-logo{
        display: none;
    }

}
